.Logo{
	background-color: white;
	padding: 8px; /*so that it doesn't sterch to the surrounding div*/
	height: 100%;
	box-sizing: border-box; /*so that 80% height includes the padding*/
	border-radius: 5px;
}

.Logo img {
	height: 100%; /* the reason for keeping it to 100% is that we want the image to take up the height of it's parent container and not just use it's default height which would cause the image to look bigger and ugly.  */
}